* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
      height: 100vh;
        margin: 0;
        background: linear-gradient(90deg, rgb(117, 135, 225) 12.1%, rgba(188,167,205,1) 63.2%);
        background-size: 200% 200%;
        transition: background-position 0.1s ease-out;
}
/*<-----------NavBar------------>*/

.nav-bar {
  display: flex;
  background-color: rgba(244, 244, 255, 0.752);
  /* flex-wrap: wrap; */
  height: 83px;
  width: 100%;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  align-items: center;
  top: 0px;
  position: fixed;
  left: 0;
  gap: 250px;
  z-index: 1000;
}


.logo h1 {
  position: relative;
  background: -webkit-linear-gradient(#192d93, #7b4ba3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* for Firefox */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 26px;
  right:455px;
}



.toggle-label {
  background: #9065b4c2;
  border-radius: 25px;
  /* padding: 10px; */
  padding: 10px 17px 10px 35px;/*top right bottom left*/
  position: relative;
  cursor: pointer;
  width: 135px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-label .toggle-text {
  font-size: 16px;
  padding: 0px 8px 0px 6px; 
  color: white;
}

.toggle-slider {
  position: absolute;
  right: 4px;
  top: 3px;
  left: 4px;
  width: 50%;
  height: calc(100% - 5px);
  background: -webkit-linear-gradient(#192d93, #7b4ba3);
  border-radius: 20px;
  transition: left 0.3s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .toggle-label .toggle-slider {
  left: calc(50% - 3px);
}

.main-container {
  display: flex;
  align-items: flex-start;
   flex-direction: row;
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-columns: auto 1fr; */
  gap: 50px;
  margin-top: 120px; /* space below nav */
  padding: 20px;
  
}

.hero-section{
  display: flex;
  position: relative;
   /* padding-top: 150px; */
   /* margin-top: 150px; */
  flex-direction: column;
  flex: 0 0 300px;
  margin-left: 40px;
  /* border: 2px solid black; */
  /* margin-right: 70%; */
 text-align: center;
  box-shadow: 0 0 20px rgba(95, 29, 130, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border: 2px solid black; */
  /* flex: 1; */
  max-width: 450px;
  padding: 10px;
  padding-right: 18px;
  border-radius: 12px;
  /* height: 412px; */
}

.hero-section h1{
  font-size: 37px;
    background: -webkit-linear-gradient(#192d93, #7b4ba3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2px;
}

.hero-section textarea{
  height: 120px;
  width: 276px;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  background: rgba(216, 192, 227, 0.712);
  max-width: 100%;
  overflow-y: hidden;
  outline: none;
  border: 2px solid rgb(201, 150, 201);
  margin-bottom: 12px;
  margin-top: 3px;
  resize: none;
}

.hero-section .text{
 margin-left: 20px;
}

.hero-section p{
  color: white;
}

.hero-section button{
  padding: 12px 55px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  color: white;
  background-image: linear-gradient(
    109.6deg,
    rgba(166, 64, 221, 1) 21.2%,
    rgba(102, 165, 235, 1) 74.4%
  );
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
  /* margin-left: 17px; */
  margin-top: 12px;
}

.hero-section button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    100.5deg,
    #632783 21.2%,
    #325579 76.1%
  );
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  z-index: -1;
}

.hero-section button:hover::after {
  opacity: 1;
}

.code-preview-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  /* height: 100vh; */
}

#codeSection {
  color: white;
  box-shadow: 0 0 20px rgba(95, 29, 130, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
 height: 100vh;
  overflow-y: auto;
  white-space: pre-wrap;
}

#previewSection iframe {
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 20px rgba(95, 29, 130, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}



